/* ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
li{margin: auto;
    padding: 1px;
    height: 100%;
    width: 100%;
    width: 300px;
    max-width: 250px;
    max-height: 200px;

} */

.card{
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid black;

}